/* 45em is also 720px (if basefont is 16px) */
@media only screen and (min-width: 45rem) {

/*----------- BODY --------------*/

/*----------- HEADER --------------*/
    header button {display: none;}
    header img {width: auto;}
    header h1 {font-size: 2rem;}
    header h2 {font-size: 1.5rem;}
    /*header .slogan {display: block;}*/
/*----------- NAVIGATION --------------*/
    nav ul.hide {display: block;}
    nav ul {margin-left: 2%;}
    nav ul li {float: left;}
    nav ul li a{
    border: none;
    border-right: 1px solid rgba(0,0,8,0.3);
    padding: .8rem 1rem;
}
#menu-link {
  display: none;
}
#current-page a:hover {
  color: #FFF;
}

.menu {
  list-style: none;
  display: inline;
}

/*----------- MAIN --------------*/
table {
    width: 100%;
}
table, tr, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}
table th {
    background: #ffd700
}
main .row section:nth-child(2){
    width: 50%;
    float: left;
}
main .row section:nth-child(3){
    width: 48%;
    float: left;
    margin-top: 52px;
}
main .gallery figure {
    flex-basis: 46%;
}
/*-----------WEATHER ---------------*/

/*----------- ARTICLE --------------*/
main .temples {
    justify-content: center;
}
main .temples article {
    flex-basis: 46%;
}

.photo1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px outset white;
  }
  .photo2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 5px outset white;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .2px;
    background-color: skyblue;
    padding: 10px;
    vertical-align: middle;
  }
  .text1 {
    margin-left: 100px;
  }
  /* Next & previous buttons */
  
  .prev1,
  .next1 {
    left: 43%;
  }
  /* Position the "next button" to the right */
  
  .next1 {
    /* right: 0; */
    border-radius: 3px 0 0 3px;
  }
  .prev1 {
    left: 2%;
    border-radius: 3px 0 0 3px;
  }

  .testimonials {
    max-width: 800px;
    display: grid;
    grid-template-areas:
      "div div div";
        grid-gap: 70px 5%;
  }
  
  .testimonials-wrap h2 {
   margin-left: 25px;
  }
  
  .testimonials img {
    max-width: 150px;
    display: block;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  
  .third-comment {
    display: block;
  }
  
  .img-wrap {
    max-width: none;
    margin: 0 auto;
  }
  
  .inner-wrap {
    max-width: 600px;
  }

/*----------- FORM --------------*/

form label.top textarea {
    height: 12rem;
}

form {
    flex-basis: 42%;
}

/*----------- CONTACT --------------*/
body .contact {
    width: 100%;
    column-count: 2;
    float: none;
}

/*----------- FOOTER --------------*/
    
}