/*Typography*/

h1,
h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h3,
p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 1.34rem;
    color: #190482;
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 0.8rem;
}

p {
    font-size: 0.8rem;
}


/*TOP*/

.top {
    display: none;
    color: #5f45f6;
    text-align: center;
    font-weight: bolder;
    background-color: white;
    margin: 0.5rem 0.5rem 0 0.5rem;
    padding: 0.009rem 0;
}


/*Menu*/

nav {
    margin: 0 auto;
    max-width: 100%;
    background-color: #1400a8;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.3rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.5s;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

.navigation a:hover {
    color: #A80053;
    background-color: white;
    box-shadow: 0 0 30px #1b03f0;
}

.responsive li {
    display: block;
}

.active {
    background-color: #FFEBF5;
}

.active p {
    color: red;
}

header img {
    float: left;
    margin: 0;
    width: 25%;
    margin: 0rem;
    padding: 0rem;
}

header h1 {
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 0;
    color: #0800a8;
    margin: 0;
    text-align: center;
}

.description {
    padding: 0;
    margin: 0;
    color: red;
    text-align: left;
    position: relative;
    left: 1rem;
}

header {
    width: 85%;
    margin: 1rem auto 2rem auto;
    padding: 0;
}


/*structures*/

html {
    background-color: #FFEBF5;
}

main {
    background-color: white;
    padding: 1rem 0 0 0;
    margin-bottom: -1rem;
}

nav,
footer {
    background-color: #0800a8;
    color: white;
}

footer {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

title {
    margin: 0;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

iframe {
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.contato {
    background-color: #FFEBF5;
    margin-bottom: 0;
    padding: 1rem;
    margin: 1rem auto 0.5rem auto;
    max-width: 80%;
}

.contact-pics img {
    width: 70%;
    display: flex;
    margin: 0 auto;
}

.contact-pics {
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto;
    gap: 10px;
    width: 40%;
}

.insta {
    grid-column: 1;
    padding: 0;
    margin: 0;
}

.face {
    grid-column: 2;
    padding: 0;
    margin: 0;
}

.whats {
    grid-column: 3;
    padding: 0;
    margin: 0;
}

.twitter {
    grid-column: 4;
    padding: 0;
    margin: 0;
}


/*==========MAIN CONTENT==================*/

.container {
    color: black;
    padding: 1rem;
    margin: 1rem auto 1rem auto;
    max-width: 80%;
    border: 1px solid #0800a8;
}


/*==========PLACE PAGE CONTENT HERE==================*/

.hero {
    color: black;
    padding: 1rem;
    margin: 1rem auto 1rem auto;
    max-width: 80%;
}

.hero img {
    margin: 0 auto;
    width: 100%;
    display: flex;
}

.summary {
    display: block;
    background: radial-gradient(#eee, #FFEBF5);
    border: 1px solid #000;
    padding: 1.5rem;
    box-shadow: 0 0 30px #0b00a8;
    opacity: .9;
    margin: 0;
}

.summary h3 {
    color: rgb(13, 1, 101);
}

.forecast {
    display: none;
    flex-wrap: wrap;
    padding: 0;
}

.symbol {
    font-size: 230%;
    padding: 1rem 0;
    margin: 0;
    background-color: #FFEBF5;
}

.day-forecast {
    margin: 0;
    padding: 1rem 0;
    border: 1px solid #1600a8;
    background-color: #1600a8;
    color: white;
}

.day {
    flex: 1 0 1%;
    padding: 0;
    border: 1px solid #1600a8;
}

.temperature {
    background-color: #FFEBF5;
    margin: 0;
    padding: 1rem 0;
}

.article-div {
    background-color: #FFEBF5;
}

.article-div h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}

.author {
    text-align: left;
}

.article-div img {
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding-top: 1rem;
}

.article {
    text-align: justify;
}