
body {
    text-align: center;
    background-image: url('../images/background-img.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #746ff2;
}
* {
    padding: 0;
    margin: 0;
}
hr {
    width: 89%;
    margin: 1rem 0;
}
img {
    max-width: 60%;
    box-shadow: 3px 5px 6px 3px gray;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    margin: 1.5rem;
    background-color: #b4b4b2;
    border-radius: 10px;
}
h2, h1 {
    padding: 1.5rem;
}
h1 {
    font-family: 'Fantasy Script';
}
h1::after {
    content: '  ' url('../images/pen.png');
}
h2, p, footer {
    font-family: 'Bebas Neue';
}
footer {
    padding: 2rem;
    color: #3A3B3C;
}
h1, h2, p {
    color: #151616;
}