/*------For Microsoft Lumia 550 view---------*/
@media only screen and (min-width: 640px) {
   
    .weatherInfo {
        right: 10%;
    }
    .weather figure {
        left: 20%;
    }
}
/*-----For medium size screens like tablet or IPad-------*/
@media only screen and (min-width: 760px) {

    /*-----Footer------*/
    .footer-content {
        display: flex;
    }
    .footer-content div {
        margin: 2rem;
        flex: 1 1 auto;
    }
    .footer-content img {
        max-width: 75%;
    }
    
    /*-----Main------*/
    .herodiv section h2 {
        font-size: 3rem;
    }
    .spotlightdiv {
        display: flex;
    }
    .spotlight {
        align-self: center;
        flex: 1 1 auto;
    }
    .join button {
        display: block;
        width: 50%;
        font-size: x-large;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        padding: 1.5rem;
    }
    